body {
  color: #123;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
}
.ui-control-container {
  display: flex;
}
.ui-control-label {
  min-width: 130px;
  text-align: right;
  padding: 0 10px;

}